<% provide(:title, 'Online Data validator') %>

<h2>YAML data:</h2><br/>
<% if @snippet.format == 'yaml' %>
<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
<% end %>
<div class="row">
  <div class="offset1 span10">
    <%= form_for(@snippet1) do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :format, value: 'yaml' %>
    <br/><%= f.submit "Validate", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<h2>JSON data:</h2><br/>
<% if @snippet.format == 'json' %>
<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
<% end %>
<div class="row">
  <div class="offset1 span10">
    <%= form_for(@snippet2) do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :format, value: 'json' %>
    <br/><%= f.submit "Validate", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>